/**
 * General
 */

html {
  height: 100%;
  width: 100%;
  border: 2px solid #38AAC7;
}

body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

input {
  border-radius: 0 !important;
}

nav {
  border-top: 2px solid #38AAC7 !important;
  border-left: 2px solid #38AAC7 !important;
  border-right: 2px solid #38AAC7 !important;
}

.highlight {
  z-index: 9999;
  display: block;
  padding: 10px;
  transition: box-shadow .5s;
  box-shadow: 0 0 100px #747474;
}

.active {
  background-color: #38AAC7;
  color: white;
}

.active:hover {
  background-color: #38AAC7 !important;
  color: white;
}

.disabled {
  color: #CACACA;
}

.disabled:hover {
  color: #CACACA;
}

/**
 * Off canvas
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}

.navbar .connect-status {
  margin-left: 20px;
}

#drop-area:hover {
  cursor: pointer;
  background-color: #C5D5D1;
}

/**
 * Sidebar
 */

.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-top: 11px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #149c82;
}

.nav-sidebar > .active > a:hover {
  color: #fff;
  background-color: #38AAC7;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
  min-height: 280px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.main .machine-config table{
  width: 400px;
  margin: auto;
}

/**
 * Home
 */

.home .port > div {
  transition: box-shadow .3s;
}

.home .port > div:hover {
  box-shadow: 0 3px 20px #38AAC7;
  cursor: pointer;
}

.home .port .selected {
  background-color: #38AAC7;
  color: white;
}
