<div class="home">
  <h1>Selecione uma máquina</h1>
  <br>

  <div class="row">
    <div class="col-md-6">
      <p class="lead">Escolha qual máquina você deseja conectar-se. As possíveis aparecerão ao lado. Clique no botão abaixo para forçar a atualização.</p>
      <button class="btn btn-success" ng-click="getPorts()">Atualizar</button>
    </div>

    <div class="col-md-6 text-center">
      <p class="lead text-muted" ng-hide="ports">Não foram encontrados aparelhos. Clique em atualizar para checar!</p>
      <ul class="list-inline">
        <li ng-repeat="port in ports" class="port">
          <div class="panel panel-success" ng-class="{selected: port.selected}" ng-click="setCurrentMachine(port)">
            <div class="panel-heading text-center">
              <h3 class="panel-title">{{port.info.comName}}</h3>
            </div>
            <div class="panel-body">
              <p><strong>sign</strong>: {{port.info.signature | limitTo:20}}</p>
              <p><strong>pnpId</strong>: {{port.info.pnpId | limitTo:20}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
