<!DOCTYPE html>
<html ng-app="pbUi">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>PipettingBot UI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="../bower_components/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-flatly.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-cloak ng-controller="mainCtrl" >

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pipetting Bot</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Buscar</a></li>
          <li><a class="btn btn-xs">min</a></li>
          <li><a class="btn btn-xs">max</a></li>
          <li><a class="btn btn-xs">close</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Termo a buscar">
        </form>
      </div>
    </div>
	</nav>

	<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
          <li ng-click="currentTab = 'home'" ng-class="{active: currentTab == 'home'}"><a href="#">Home</a></li>
          <li ng-click="currentTab = 'file-insert'" ng-class="{active: currentTab == 'file-insert'}"><a href="#/file-insert">Inserção de Arquivo</a></li>
          <li ng-click="currentTab = 'edit'" ng-class="{active: currentTab == 'edit'}"><a href="#/edit">Edição</a></li>
          <li ng-click="currentTab = 'machine-config'" ng-class="{active: currentTab == 'machine-config'}"><a href="#/machine-config">Config. Máq.</a></li>
        </ul>

        <ul class="nav nav-sidebar">
          <li><a href="#/about">Sobre</a></li>
          <li><a href="#/exit">Sair</a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-md-10 main">
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </p>

        <div ng-view></div>

    	</div>
		</div>
	</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/directives/pb-drag-xlsx-file.js"></script>
    <script src="js/directives/pb-positionshower.js"></script>

    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
		<script src="js/controllers/fileInsertCtrl.js"></script>
    <script src="js/controllers/machineConfigCtrl.js"></script>

    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
	</body>
</html>
