<!DOCTYPE html>
<html ng-app="pbUi">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>PipettingBot UI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="../bower_components/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-flatly.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-cloak ng-controller="mainCtrl" >

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pipetting Bot</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Buscar</a></li>
          <li><a class="btn btn-xs">min</a></li>
          <li><a class="btn btn-xs">max</a></li>
          <li><a class="btn btn-xs">close</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Termo a buscar (ajuda)">
        </form>
      </div>
    </div>
	</nav>

	<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
          <li ng-repeat="section in sections">
            <a ng-href="#{{section.ref}}" ng-click="setSectionAsActive($index, $event)" ng-class="{disabled: !section.allowed, active: section.active}">{{section.name}}</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-md-10 main">
        <div ng-view></div>
    	</div>
		</div>
	</div>
    <script src="../bower_components/three.js/three.min.js"></script>
    <script src="../bower_components/tween.js/build/tween.min.js"></script>
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

		<script src="js/app.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/services/mock-require.js"></script>
    <script src="js/services/open-ports.js"></script>

    <script src="js/directives/pb-drag-xlsx-file.js"></script>
    <script src="../bower_components/cube-translation-vis/src/cube-trans-vis.js"></script>

    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/aboutCtrl.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
		<script src="js/controllers/fileInsertCtrl.js"></script>
    <script src="js/controllers/machineConfigCtrl.js"></script>

    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
	</body>
</html>
